<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>微信基本接口</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="/wwwroot/layui/css/layui.css" rel="stylesheet" />
    <script src="/wwwroot/JS/jquery-3.3.1.min.js"></script>
    <script src="/wwwroot/JS/vue.min.js"></script>
    <script src="/wwwroot/layui/layui.all.js"></script>
    <script src="/wwwroot/JS/echarts.min.js"></script>
    <script src="/wwwroot/JS/colResizable.js"></script>

    <script src="/wwwroot/JS/admin.js"></script>
    <style>
        .layui-form-label {
            width: 150px;
        }
    </style>
</head>
<body>
    <!--<label class="layui-label" style="color:#ff0000;margin-left:50px;">每天获取有次数限制，未使用数据库，缓存功能！</label>-->
    <div id="app" style="margin:10px;">
        <div class="layui-form-item " style="margin-right:5px;display:flex">

                <label class="layui-form-label">获取素材列表：</label>
                <select class="layui-select" v-model="search.sc.Type" :value="search.sc.Type">
                    <option value="">请选择</option>
                    <option value="image">图片</option>
                    <option value="video">视频</option>
                    <option value="voice">语音</option>
                    <option value="news">图文</option>
                </select>
                <button class="layui-btn" type="button" style="width:80px;margin-right:10px;margin-left:5px;" @click="getsclist">
                    <i class="layui-icon layui-icon-search"></i>查询
                </button>

                <div class="layui-btn-group" style=" margin-left: auto;">
                    <button type="button" class="layui-btn"  @click="refresh"> <i class="layui-icon layui-icon-refresh"></i>刷新</button>

                </div>
            
        </div>



        <div style="margin: 10px;">
            <table class="layui-table">
                <thead>
                    <tr>

                        <th>素材类型</th>
                        <th>mediaID</th>
                        <th>详情内容</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(item,index)  in pagingdata" v-if="pagingdata.length>0">

                        <td :title="item.Type">{{getname(item.Type)}}</td>
                        <td :title="item.Media_Id">{{item.Media_Id}}</td>
                        <td :title="item.Url">{{item.Url.length>20?item.Url.substring(0,20)+'...':item.Url}}</td>
                        <td style="display:flex">
                            <button class="layui-btn layui-btn-warm layui-btn-xs" type="button" @click="btn_details(item)">查看</button>
                            <button class="layui-btn layui-btn-danger layui-btn-xs" type="button" @click="btn_delete(item.Media_Id,index)">删除</button>
                        </td>
                    </tr>
                    <tr v-if="pagingdata.length==0" align="center">
                        <td colspan="4">暂无数据</td>
                    </tr>
                </tbody>
            </table>
            <div id="paging"></div>
        </div>



    </div>

</body>
</html>
<script>
    var selectedRow;//定义传参数
    var selectForm;//定义form参数
    var changeForm;//定义form页面刷新数据方法
    let frame = top.$frame;
    var vm = new Vue({
        el: '#app',
        data: {
            search: {
                sc: { Type: '' },
            },
            pagingdata: [],
            lis: { total_count: 0, item_count: 0, item: [] },
        },
        created: function () {

        },
        computed: {

        },
        methods: {
            gettoken() {
                o.gettoken();
            },
            getsclist() {
                o.getsclist();
            },
            btn_details(item) {
                selectedRow = item;
                let obj = {
                    id: 'form',
                    title: '素材详情',
                    url: 'Mg_WXMaterial/MaterialForm.html',
                    width: 1000,
                    height: 600,
                    //  btn: null,
                    callBack: function (id) {//确定方法

                    }
                }
                frame.layerForm(obj);

            },
            btn_delete(media_id, index) {
                frame.confirm("提示", `确定要删除(${media_id})素材吗？`, (r) => {
                    if (r)
                        o.delete(media_id, index);
                })

            },
            getname(type) {
                switch (type) {
                    case 'image':
                        return "图片"
                        break;
                    case 'video':
                        return "视频";
                        break;
                    case 'voice':
                        return "语音";
                        break;
                    case 'news':
                        return "图文";
                        break;
                    default:
                        return "--";
                        break;


                }

            },
            refresh() {
                o.getsclist();
            },
        }
    });

    var o = {
        load() {


        },
        bind() {

        },
        getsclist() {
            $frame.laypaging({
                url: "Wx_Data/GetSCPageList",
                elem: 'paging',
                queryjson: JSON.stringify(vm.search.sc),
                callBack: (res, fun) => {
                    if (!!res) {
                        if (res.Success) {
                            vm.pagingdata = res.Data.Items;
                            fun(res.Data.TotalItems);
                        }
                    }
                }

            });
        },
        delete(mid, index) {
            frame.RequestGet('Wx_Data/DeleteSC?mid=' + mid, '', (x) => {
                if (x.Success) {
                    o.getsclist();
                } else
                    frame.alert(x.Data);
            });

        }
    }

    o.getsclist();
</script>