<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>微信素材详情</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="/wwwroot/layui/css/layui.css" rel="stylesheet" />
    <script src="/wwwroot/JS/jquery-3.3.1.min.js"></script>
    <script src="/wwwroot/JS/vue.min.js"></script>
    <script src="/wwwroot/layui/layui.all.js"></script>
    <script src="/wwwroot/JS/echarts.min.js"></script>
    <script src="/wwwroot/JS/colResizable.js"></script>
    <style>
        .layui-form-label {
            width: 150px;
        }

        .layui-label {
            line-height: 35px;
        }
    </style>
</head>
<body>


    <div id="app" style="margin:10px;">
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">素材类型：</label>
            <div class="layui-input-block" style="display:flex">
                <label class="layui-label">{{getname(lis.Type)}}</label>
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">media_id：</label>
            <div class="layui-input-block" style="display:flex">
                <label class="layui-label">{{lis.Media_Id}}</label>

            </div>
        </div>
        <div class="layui-form-item layui-form-text" v-if="lis.Type=='image'">
            <label class="layui-form-label">封面图片：</label>
            <div class="layui-input-block" style="display:flex">
                <!--<img :src="lis.url" style="height:120px;width:100px;" v-if="!!lis.url" />-->
                <textarea class="layui-textarea">{{lis.Url}}</textarea>
            </div>
        </div>

        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">添加时间：</label>
            <div class="layui-input-block" style="display:flex">
                <label class="layui-label">{{lis.CreateTime}}</label>
            </div>
        </div>

        <div class="layui-form-item layui-form-text" v-if="lis.Type!='news'">
            <label class="layui-form-label">文件详情：</label>
            <div class="layui-input-block" style="display:flex">
                <img :src="lis.PathUrl" v-show="lis.Type=='image'" style=" height:200px;width:300px" />
                <video v-show="lis.Type=='video'" height="200" width="300" controls style="display:none">
                    <source :src="lis.PathUrl" type="video/mp4" />

                </video>
                <!--<label class="layui-label">{{lis.PathUrl}}</label>-->
            </div>
        </div>
        <fieldset v-if="lis.Type=='news'">
            <!--style="overflow:scroll; width:1200px; height:600px;"-->
            <legend>图文列表</legend>

            <table class="layui-table" style="overflow:scroll;">
                <thead>
                    <tr>
                        <th width="10%">操作</th>
                        <th width="10%">标题</th>
                        <th width="10%">封面图片media_id</th>
                        <th width="40%">内容</th>
                        <!--<th width="15%">图文页的URL</th>-->
                        <th width="10%">
                            原文地址
                            <button class="layui-btn layui-btn-xs" type="button" @click="btn_add(item)">新增</button>
                        </th>
                        <!--<th>操作</th>
                         <th>作者</th>
                         <th>摘要</th>-->
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(item,index)  in lis.Content.articles" v-if="!!lis.Content">
                        <td>
                            <button class="layui-btn layui-btn-normal" type="button" @click="details(item,index)">编辑</button>
                        </td>
                        <td>
                            {{item.title}}
                            <!--<input class="layui-input" :value="item.title" v-model="item.title" :title="item.title" />-->
                        </td>
                        <td>
                            {{(!!item.thumb_media_id&&item.thumb_media_id.length>20?item.thumb_media_id.substr(0,30)+'...':item.thumb_media_id)}}
                            <!--<input class="layui-input" :value="item.thumb_media_id" v-model="item.thumb_media_id" :title="item.thumb_media_id" />-->
                        </td>
                        <td>
                            <!--<input class="layui-input" :value="item.content" v-model="item.content" :title="item.content" />-->
                            {{(!!item.content&&item.content.length>20?item.content.substr(0,100)+'...':item.content)}}
                        </td>
                        <!--<td>
                            <img :src="item.url" style="height:80px;width:50px;" v-if="!!item.url" />
                        </td>-->
                        <td>
                            <!--<input class="layui-input" :value="item.thumb_url" v-model="item.thumb_url" :title="item.thumb_url" />-->
                            {{(!!item.thumb_url&&item.thumb_url.length>20?item.thumb_url.substr(0,50)+'...':item.content_source_url)}}
                        </td>

                        <!--<td>
                            <select class="layui-select" :value="item.show_cover_pic" v-model="item.show_cover_pic"  :title="item.show_cover_pic">
                                <option value="0">不显示</option>
                                <option value="1">已显示</option>
                            </select>
                        </td>
                        <td><input class="layui-input" :value="item.author" v-model="item.author"   :title="item.author" /></td>
                        <td><input class="layui-input" :value="item.digest" v-model="item.digest"  :title="item.digest" /></td>-->
                    </tr>
                </tbody>
            </table>
        </fieldset>
    </div>




</body>
</html>
<script>
    let $frame = top.$frame;
    let selectedRow = top.parent_obj.geto_iframe_current().selectedRow;
    var vm = new Vue({
        el: '#app',
        data: {
            lis: [],
        },
        created: function () {
            if (selectedRow.Type == "news") {
                selectedRow.Content = typeof (selectedRow.Content) == "string" ? JSON.parse(selectedRow.Content) : selectedRow.Content;
            }
            this.lis = selectedRow;
        },
        computed: {

        },
        methods: {
            refresh() {
                window.location.reload();
            },
            getdata() {
                o.load();
            },
            getname(type) {
                switch (type) {
                    case 'image':
                        return "图片"
                        break;
                    case 'video':
                        return "视频";
                        break;
                    case 'voice':
                        return "语音";
                        break;
                    case 'news':
                        return "图文";
                        break;
                    default:
                        return "--";
                        break;


                }

            },
            details(itm, index) {
                itm["index"] = index;
                top.parent_obj.geto_iframe_current().selectForm = itm;
                let obj = {
                    id: 'formDetails',
                    title: '素材详情',
                    url: 'Mg_WXMaterial/MaterialDetails.html',
                    width: 1000,
                    height: 750,
                    btn: null,
                    callBack: function (id) {

                    }
                }
                $frame.layerForm(obj);

            }
        }

    });

    //详情页面重新赋值方法
    top.parent_obj.geto_iframe_current().changeForm = function (item, index) {
        vm.lis.Content.articles[index] = item;
    }

    var o = {
        load() {
            o.GetUser();

        },
        bind() {
            //$("table").colResizable({
            //    liveDrag: true, //实时显示滑动位置
            //    gripInnerHtml: "<div class='grip'></div>",
            //    postbackSafe: true, //刷新后保留之前的拖拽宽度
            //});
        },
    };

    o.bind();
</script>