<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>微信基本接口</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="/wwwroot/layui/css/layui.css" rel="stylesheet" />
    <script src="/wwwroot/JS/jquery-3.3.1.min.js"></script>
    <script src="/wwwroot/JS/vue.min.js"></script>
    <script src="/wwwroot/layui/layui.all.js"></script>
    <script src="/wwwroot/JS/echarts.min.js"></script>
    <script src="/wwwroot/JS/colResizable.js"></script>
    <style>
        .layui-form-label {
            width: 150px;
        }
    </style>
</head>
<body>
    <div id="app" style="margin:10px;">
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">微信推送类型：</label>
            <div class="layui-input-block">
                <select class="layui-select" v-model="model.type" :value="model.type" @click="gettemp">
                    <option value="0">客服消息</option>
                    <option value="1">模板消息</option>
                </select>

                <button class="layui-btn" type="button" style="margin-right:10px;margin-left:5px;" @click="btnsave">
                    <i class="layui-icon layui-icon-release"></i>发送消息
                </button>
            </div>

        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">接受者姓名：</label>
            <div class="layui-input-block" style="display:flex">
                <select class="layui-select" v-model="model.openid" :value="model.openid">
                    <option value="">请选择</option>
                    <option v-for="item in  userlis" :value="item.Openid">{{item.Nickname}}</option>
                </select>
                <input class="layui-input" type="text" style="width:100px;margin-left:5px;" placeholder="查询" id="query_name" @input="query(1)" />
            </div>
        </div>

        <div class="layui-form-item " v-if="model.type==1">
            <label class="layui-form-label">推送模板：</label>

            <div class="layui-input-block" style="display:flex">
                <select class="layui-select" v-model="model.temid" :value="model.temid" @change="upda">
                    <option value="">请选择</option>
                    <option v-for="item in  templis" :value="item.TempId">{{item.Name}}</option>
                </select>
                <input class="layui-input" type="text" style="width:100px;margin-left:5px;" placeholder="查询" id="query_temid" @input="query(2)" />
            </div>
        </div>
        <div class="layui-form-item " v-if="model.type==1">
            <label class="layui-form-label">详情URL：</label>
            <div class="layui-input-block">
                <input class="layui-input" type="text" v-model="model.openurl" :value="model.openurl" style="width:500px" />
            </div>
        </div>
        <div class="layui-form-item ">
            <label class="layui-form-label">{{model.type==0?'客服消息内容：':'模板内容：'}}</label>
            <div class="layui-input-block">
                <textarea name="desc" placeholder="" rows="10" cols="100" @input="gettemp" v-model="model.content" :value="model.content"></textarea>
            </div>
        </div>

        <fieldset v-if="model.type==1">
            <legend>模板消息</legend>

            <div class="layui-form-item layui-form-text">
                <div class="layui-input-block">
                    <table class="layui-table">
                        <thead>
                            <tr>
                                <th>模板参数</th>
                                <th>参数</th>
                                <th>对应值</th>
                                <th>字体颜色</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(item,index) in model.temp" v-if="model.temp.length>0">
                                <td>{{item.temp}}</td>
                                <td>{{item.Name}}</td>
                                <td><input class="layui-input" type="text" :value="model.temp[index].values.value" v-model="model.temp[index].values.value" /></td>
                                <td style="display:flex">
                                    <select class="layui-select" :value="model.temp[index].values.color" v-model="model.temp[index].values.color">
                                        <option v-for="itm in colors" :value="itm" :style="('color:'+itm)">{{itm}}</option>
                                    </select>
                                    <div :style=" (!!model.temp[index].values.color?'margin-left:5px;height:35px;width:50px;background-color:'+model.temp[index].values.color:'margin-left:5px;height:35px;width:50px;' )"></div>
                                </td>
                            </tr>
                            <tr align="center" v-if="model.temp.length==0">
                                <td colspan="4">暂无数据</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </fieldset>
    </div>
</body>
</html>
<script>

    let $frame = top.$frame;
    var userlis, templis;
    var o = {
        load() {
            this.getcolor();
        },
        bind() {

        },
        Getstring(str, data) {
            let i = str.indexOf("{{");
            if (i > -1) {
                let name = str.substring(i);
                let fi = name.indexOf("}}");
                if (fi > -1) {
                    let temp = name.substring(0, fi + 2);
                    data.push({
                        temp: temp,
                        Name: temp.substring(temp.indexOf("{{") + 2, temp.indexOf("}}")).split('.')[0],
                        values: { value: '', color: '' },
                    });
                    let newstr = name.substring(fi + 1);
                    o.Getstring(newstr, data);
                }
            }
            return data;
        },
        getcolor() {
            clr = new Array('00', '20', '40', '60', '80', 'a0', 'c0', 'ff');
            for (i = 0; i < 8; i++) {
                for (j = 0; j < 8; j++) {
                    for (k = 0; k < 8; k++) {
                        vm.colors.push('#' + clr[i] + clr[j] + clr[k]);
                    }
                }

            }

        },
        getconfig() {
            $frame.RequestGet('Wx_Data/GetSmsConfig', '', res => {
                if (res.Success) {
                    userlis = res.Data.lis;
                    templis = res.Data.templateLis;
                    vm.userlis = res.Data.lis;
                    vm.templis = res.Data.templateLis;
                } else
                    $frame.alert(res.Data);
            });
        }
    }


    var vm = new Vue({
        el: '#app',
        data: {
            model: { type: 0, content: '', temp: [], openid: '',temid:'',openurl:'' },
            colors: [],
            userlis:[],
            templis:[],

        },
        created: function () {
            o.getconfig();
        },
        computed: function(){


        },
        methods: {
            gettemp() {
                vm.model.temp = [];
                if (vm.model.type == 1)
                    vm.model.temp = o.Getstring(vm.model.content, vm.model.temp);

            },
            btnsave(event) {
                let foat = true;
                {
                    if ($frame.IsEmpty(vm.model.content)) {
                        $frame.alert("内容不能为空！");
                        foat = false;
                        return false;
                    }
                    if ($frame.IsEmpty(vm.model.openid)) {
                        $frame.alert("用户openid不能为空！");
                        foat = false;
                        return false;
                    }
                    if (vm.model.type == 1) {
                        if ($frame.IsEmpty(vm.model.temid)) {
                            $frame.alert(" 模板ID不能为空！");
                            foat = false;
                            return false;
                        }

                        if (vm.model.temp.length > 0) {
                            let status = true;
                            $.each(vm.model.temp, (i, v) => {
                                if ($frame.IsEmpty(v.values.value)) {
                                    status = false;
                                }
                            });
                            if (!status) {
                                $frame.alert(" 模板参数对应值不能为空！");
                                return false;
                                foat = false;
                            }

                        }
                    }
                }


                if (foat)
                    $frame.RequestPost('Wx_Data/SaveSms', vm.model, res => {
                        console.log(res);
                        if (res.Success) {
                            if (res.Data.errcode == 0) {
                                $frame.alert_msg("操作成功！");
                            } else
                                $frame.alert(res.Data.errmsg);
                        } else
                            $frame.alert(res.Data);
                    });

            },
            upda() {
                if (!$frame.IsEmpty(vm.model.temid)) {
                    let v = $frame.filter(vm.templis, "TempId", vm.model.temid)[0];
                    vm.model.content = v.Content;
                    vm.model.temp = o.Getstring(vm.model.content, vm.model.temp);
                } else {
                    vm.model.content = '';
                    vm.model.temp = [];
                }
            },
            query(type) {
                switch (type) {
                    case 1:
                        if (!$frame.IsEmpty($("#query_name").val())) {
                            let v1 = $frame.filter(userlis, "Nickname", $("#query_name").val(), true);
                            vm.userlis = v1;
                        } else
                            vm.userlis = userlis;
                        break;
                    case 2:
                        if (!$frame.IsEmpty($("#query_temid").val())) {
                            let v2 = $frame.filter(templis, "TempId", $("#query_temid").val(), true);
                            vm.templis = v2;
                        } else
                            vm.templis = templis;
                        break;
                }
            }

        }
    });


    o.load();
</script>
