<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>微信模板管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="/wwwroot/layui/css/layui.css" rel="stylesheet" />
    <script src="/wwwroot/JS/jquery-3.3.1.min.js"></script>
    <script src="/wwwroot/JS/vue.min.js"></script>
    <script src="/wwwroot/layui/layui.all.js"></script>
    <script src="/wwwroot/JS/echarts.min.js"></script>
    <script src="/wwwroot/JS/admin.js"></script>
    <style>
        .layui-form-label {
            width: 150px;
        }
    </style>
</head>
<body>
    <div id="app" style="margin:10px;">
        <div class="head" style="height:20%;display:flex">
            <div class="layui-form-item" style="float:left;">
                <div style="display:flex">
                    <input class="layui-input" type="text" placeholder="模板名称" v-model="searchdata.name" :value="searchdata.name" />

                </div>
            </div>

            <div class="layui-form-item" style="margin-right:5px">
                <div class="layui-input-block">
                    <button class="layui-btn" type="button" style="width:80px;" @click="search">
                        <i class="layui-icon layui-icon-search"></i>查询
                    </button>
                    <button class="layui-btn layui-btn-normal" type="button" style="width:80px;" @click="refresh">
                        <i class="layui-icon layui-icon-refresh"></i>刷新
                    </button>
                    <button class="layui-btn" type="button" style="width:80px;" @click="edit('')">
                        <i class="layui-icon layui-icon-add-1"></i>新增
                    </button>
                </div>
            </div>
        </div>
        <table class="layui-table">
            <thead>
                <tr>
                    <th>名称</th>
                    <th>模板ID</th>
                    <th>详情内容</th>
                    <th>添加时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(item,index)  in pagingdata" v-if="pagingdata.length>0">
                    <td :title="item.Name">{{item.Name}}</td>
                    <td :title="item.TempId">{{item.TempId}}</td>
                    <td :title="item.Content"> {{item.Content}}</td>
                    <td :title="item.CreateTime">{{item.CreateTime}}</td>
                    <td>
                        <div style="display:flex">
                            <button class='layui-btn layui-btn-xs' @click="edit(item.GuId)">编辑</button>
                            <button class='layui-btn layui-btn-danger layui-btn-xs' @click="del(item.GuId)">删除</button>
                        </div>
                    </td>
                </tr>
                <tr v-if="pagingdata.length==0" align="center">
                    <td colspan="6">暂无数据</td>
                </tr>
            </tbody>
        </table>
        <div id="page"></div>

    </div>

</body>

</html>
<script>
    var selectedRow, refresh;
    let frame = top.$frame;
    var vm = new Vue({
        el: '#app',
        data: {
            datalis: [],
            pagingdata: [],
            searchdata: { name: '' },
        },
        created: function () {
        },
        computed: {


        },
        methods: {
            search() {
                let queryjson = {
                    Name: vm.searchdata.name,
                };
                o.Getlist(queryjson);
            },
            refresh() {
                o.Getlist();
            },
            del(guid) {
                if (frame.IsEmpty(guid)) {
                    frame.alert("需要删除的数据不能为空！");
                    return false;
                }
                frame.confirm("提示", "确定需要删除吗？", (r) => {
                    if (r) {
                        frame.RequestPost("Wx_Data/DeleteTempList", { Keyvalue: guid }, (r) => {
                            if (r.Success) {
                                frame.alert_msg("操作成功！");
                                o.Getlist();
                            } else
                                console.log(r.Data);
                        });
                    }
                })
            },
            edit(guid) {
                selectedRow = guid;
                let obj = {
                    id: 'form',
                    title: '模板详情',
                    url: 'Mg_WXConfig/WXPushTempForm.html',
                    width: 800,
                    height: 600,
                    btn: null,

                }
                frame.layerForm(obj);
            }
        },



    });
    var o = {
        bind() {
        },
        Getlist(queryjson) {
            queryjson = queryjson || {};
            $frame.laypaging({
                url: "Wx_Data/GetTempList",
                elem: 'page',
                queryjson: JSON.stringify(queryjson),
                callBack: (res, fun) => {
                    if (!!res) {
                        if (res.Success) {
                            vm.pagingdata = res.Data.Items;
                            fun(res.Data.TotalItems);
                        }
                    }
                }
            });


        },

    };
    refresh = function () {
        o.Getlist();
    }
    o.Getlist();

</script>