<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>菜单详情</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="/wwwroot/layui/css/layui.css" rel="stylesheet" />
    <script src="/wwwroot/JS/jquery-3.3.1.min.js"></script>
    <script src="/wwwroot/JS/vue.min.js"></script>
    <script src="/wwwroot/layui/layui.all.js"></script>
</head>
<body>
    <div id="app" style="margin:10px;">

        <div class="layui-form-item layui-col-xs12">
            <label class="layui-form-label">菜单名称</label>
            <div class="layui-input-block">
                <input type="text" name="title" v-model="model.Name" placeholder="请输入菜单名称" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item layui-col-xs12">
            <label class="layui-form-label">编号</label>
            <div class="layui-input-block">
                <input type="text" v-model="model.Number" placeholder="请输入编号" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item layui-col-xs12">
            <label class="layui-form-label">类型</label>
            <div class="layui-input-block">
                <select class="layui-select" v-model="model.Type">
                    <option value="iframe">iframe</option>
                    <option value="expand">expand</option>
                </select>
            </div>
        </div>

        <!--<div class="layui-form-item layui-col-xs12">
            <label class="layui-form-label">上级菜单</label>
            <div class="layui-input-block">
                <select class="layui-select"  v-model="model.SuperiorId">
                    <option value="0">顶级</option>
                    <option :value="item.Id" v-for="  item in MenuLis">{{item.Name}}</option>

                </select>
            </div>
        </div>-->
        <div class="layui-form-item layui-col-xs12">
            <label class="layui-form-label">上级菜单</label>
            <div class="layui-input-block">
                <select class="layui-select" id="SuperiorId" v-model="model.SuperiorId">
                    <option value="0">顶级</option>


                </select>
            </div>
        </div>

        <div class="layui-form-item layui-col-xs12" v-if="model.Type=='iframe'">
            <label class="layui-form-label">路劲</label>
            <div class="layui-input-block">
                <input type="text" v-model="model.Address" placeholder="请输入路劲" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item layui-col-xs12">
            <label class="layui-form-label">排序</label>
            <div class="layui-input-block">
                <input type="number" v-model="model.Sort" placeholder="请输入排序" autocomplete="off" class="layui-input">
            </div>
        </div>


        <div class="layui-form-item layui-col-xs12" v-if="model.Type=='iframe'">
            <label class="layui-form-label">按钮功能</label>
            <div class="layui-input-block">
                <table class="layui-table">
                    <thead>
                        <tr>
                            <th>序号</th>
                            <th>名称</th>
                            <th>编号</th>
                            <th>操作  <a class="layui-btn layui-btn-warm layui-btn-xs" style="margin-left:20px;" @click="addbtn">新增</a></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(v,i) in btns" v-if="btns.length>0">
                            <td>{{i+1}}</td>
                            <td><input autocomplete="off" class="layui-input" :value="btns[i].Name" v-model="btns[i].Name" /></td>
                            <td><input autocomplete="off" class="layui-input" :value="btns[i].Number" v-model="btns[i].Number" /></td>
                            <td>  <a class="layui-btn layui-btn-danger layui-btn-xs" @click="del(i)">移除</a></td>
                        </tr>
                        <tr v-if="btns.length==0">
                            <td colspan="4" align="center">暂无数据</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>


        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" @click="add">立即提交</button>
                <button class="layui-btn layui-btn-primary" @click="reset">重置</button>
            </div>
        </div>

    </div>

</body>
</html>

<script>

    var j = "-";
    let guid = top.parent_obj.geto_iframe_current().selectedRow;
    let $frame = top.$frame;

    var tree = [];

    var vm = new Vue({
        el: '#app',
        data: {
            model: {
                Name: '',
                SuperiorId: 0,
                Number: '',
                Address: '',
                Sort: 0,
                GuId: '',
                Type: 'iframe',
            },
            MenuLis: [],
            btns: [],
        },
        created: function () {
        },
        mounted: function () {
        },
        updated: function () {
        },
        computed: {
        },
        methods: {

            add() {
                obj.add();
            },
            addbtn() {
                let btnmodel = {
                    Number: '',
                    Name: '',
                    GuId: '',
                };
                vm.btns.push(btnmodel);
            },
            del(index) {
                vm.btns.splice(index, 1);
            },
            reset() {
                obj.reset();
                $frame.alert_msg("操作成功！");
            },

        }
    })

    var obj = {
        load() {
            this.getlis();
            if (!$frame.IsEmpty(guid)) {
                $frame.RequestGet("Sys_Menu/GetDes", { Keyvalue: guid }, (r) => {
                    if (r.Success) {
                        vm.model = r.Data;
                        vm.btns = vm.model.buttons;
                    } else
                        console.log(r.Data);
                });
            }

        },
        getlis() {
            $frame.RequestGet("Sys_Menu/GetMenuLis", "", (r) => {
                if (r.Success) {
                    vm.MenuLis = r.Data;
                    tree = obj.listToTree(r.Data, "0");
                    var Treed = obj.creatSelectTree(tree);
                    $("#SuperiorId").append(Treed);
                } else
                    console.log(r.Data);

            });
        },
        add() {
            let foat = true;
            if ($frame.IsEmpty(vm.model.Name)) {
                $frame.alert("菜单名称不能为空！");
                foat = false;
            }
            if ($frame.IsEmpty(vm.model.Number)) {
                $frame.alert("编号不能为空！");
                foat = false;
            }
            if (vm.model.Type == "iframe") {
                if ($frame.IsEmpty(vm.model.Address)) {
                    $frame.alert("路劲地址不能为空！");
                    foat = false;
                }
            } else {
                vm.model.Address = "";
            }

            let data =  {
                entity: vm.model,
                btnlis: vm.btns
            };
            if (foat) {
                $frame.RequestPost("Sys_Menu/SaveFrom", data, (r) => {
                    if (r.Success) {
                        top.parent_obj.geto_iframe_current().refresh();
                        top.parent_obj.close("操作成功！");
                    } else
                        console.log(r.Data);
                });
            }
        },
        reset() {
            vm.model.Name = "";
            vm.model.SuperiorId = 0;
            vm.model.Number = "";
            vm.model.Address = "";
            vm.model.Sort = 0;
            vm.model.Type = 'iframe';
        },

        creatSelectTree(d) {
            let option = "";
            for (var i = 0; i < d.length; i++) {
                if (d[i].children.length) {//如果有子集
                    option += "<option value='" + d[i].Id + "'>" + j + d[i].Name + "</option>";
                    j += "-";//前缀符号加一个符号
                    option += obj.creatSelectTree(d[i].children);//递归调用子集
                    j = j.slice(0, j.length - 1);//每次递归结束返回上级时，前缀符号需要减一个符号
                } else {//没有子集直接显示
                    option += "<option value='" + d[i].Id + "'  >" + j + d[i].Name + "</option>";
                }
            }
            return option;//返回最终html结果
        },

        listToTree(list, SuperiorId) {
            var ret = [];//一个存放结果的临时数组
            for (var i in list) {
                if (list[i].SuperiorId == SuperiorId.toString()) {//如果当前项的父id等于要查找的父id，进行递归
                    list[i]["children"] = obj.listToTree(list, list[i].Id);
                    ret.push(list[i]);//把当前项保存到临时数组中
                }
            }
            return ret;//递归结束后返回结果
        }
    }

    obj.load();
</script>