<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>微信基本接口</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="../layui/css/layui.css" rel="stylesheet" />
    <script src="../JS/jquery-3.3.1.min.js"></script>
    <script src="../JS/vue.min.js"></script>
    <script src="../layui/layui.all.js"></script>
    <style>
        .layui-form-label {
            width: 150px;
        }
    </style>
</head>
<body>
    <div id="app"  style="margin:10px;">
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">获取Token</label>
            <div class="layui-input-block" style="display:flex">
                <button class="layui-btn" type="button" style="width:80px;margin-right:10px" @click="gettoken">
                    <i class="layui-icon layui-icon-search"></i>查询
                </button>
                <textarea name="desc" placeholder="token" class="layui-textarea"  v-model="model.Token" :value="model.Token"></textarea>
            </div>
        </div>

        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">获取素材列表</label>
            <div class="layui-input-block" style="display:flex">
                <select class="layui-select">
                    <option value="image">图片</option>
                    <option value="video">视频</option>
                    <option value="voice">语音</option>
                    <option value="news">图文</option>
                </select>

                <button class="layui-btn" type="button" style="width:80px;margin-right:10px;margin-left:5px;" @click="getsclist">
                    <i class="layui-icon layui-icon-search"></i>查询
                </button>
                <textarea name="desc" placeholder="" class="layui-textarea"  v-model="model.SClist" :value="model.SClist"></textarea>
            </div>
        </div>
    </div>
</body>
</html>
<script>
    let $frame = top.$frame;
    var vm = new Vue({
        el: '#app',
        data: {
            model: { Token: '', SClist: [] },
            search: {
                sc: { type: 'image', offset: 0, count: 20 },
            },
        },
        created: function () {
        },
        computed: {


        },
        methods: {
            gettoken() {
                o.gettoken();
            },
            getsclist() {
                o.getsclist();
            }
        }
    });

    var o = {
        load() {


        },
        bind() {

        },
        gettoken() {
            $frame.RequestGet('WXData/GetToken', '', (x) => {
                if (x.Success)
                    vm.model.Token = x.Data;
                else
                    $frame.alert(x.Data);
            });
        } ,
        getsclist() {
            $frame.RequestGet('WXData/GetSCList', { data: JSON.stringify(vm.search.sc) }, (x) => {
                if (x.Success)
                    vm.model.SClist = x.Data;
                else
                    $frame.alert(x.Data);
            });
        }


    }
</script>