<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
    <title>微信公众号测试</title>
    <link href="/wwwroot/vant/css/vant.css" rel="stylesheet" />
    <script src="/wwwroot/JS/jquery-3.3.1.min.js"></script>
    <script src="/wwwroot/JS/jquery.qrcode.min.js"></script>
    <script src="/wwwroot/JS/vue.min.js"></script>
    <script src="/wwwroot/vant/vant.min.js"></script>
    <script src="/wwwroot/JS/mobile_admin.js"></script>
    <script src='https://res.wx.qq.com/open/js/jweixin-1.6.0.js'></script>
    <style>
        #qrcode > canvas {
            height: 80px;
            width: 80px;
        }
    </style>
</head>
<body>
    <div id='app'>
        <van-tree-select height="100%" :items="items" :main-active-index.sync="active" @click-nav="menu_click">
            <template slot="content">
                <div v-if="active==0" style="margin-left:30px;margin-top:50px;">
                    <van-button type="primary" @click="btn_click(active)">获取微信图片</van-button>
                    <div v-for="item in images">
                        <van-image :src="item" width="100" height="100" />
                    </div>
                    <div v-show="!!remark" style="margin-top:20px">
                        <textarea>{{remark}}</textarea>
                    </div>
                </div>
                <div v-if="active==1" style="margin-left:30px;margin-top:50px;">
                    <pre style="margin-top:10px;margin-left:1px;background-color:#808080;color:white">备注说明：
1).注册百度地图获取ak
                    </pre>
                    <van-button type="primary" @click="btn_click(active)">地理位置</van-button>
                    <van-button type="primary" @click="openwxmap()">微信地图</van-button>
                    <van-button type="primary" @click="getaddress()" style="margin-top:10px;">获取百度地图详情</van-button>
                    <div v-show="!!remark" style="margin-top:20px">
                        <textarea>{{remark}}</textarea>
                    </div>
                    <pre style="margin-top:10px;background-color:#808080;color:white" v-show="!!mapmodel">地址详情信息
                      {{mapmodel}}
                    </pre>
                </div>
                <div v-if="active==2" style="margin-left:30px;margin-top:50px;">
                    <van-button type="primary" @click="btn_click(active)">扫一扫</van-button>
                </div>
                <div v-if="active==3" style="margin-left:30px;margin-top:50px;">
                    <pre style="margin-top:10px;margin-left:1px;background-color:#808080;color:white">备注说明：
1).配置MchId
2).配置TenPayKey
3).配置回调URl
4).微信商户号中配置授权域名
5).出现异常请查看log文件
                    </pre>
                    <input type="number" placeholder="支付金额" id="number" style="height:30px;margin-bottom:10px" step="0.01" />
                    <van-button type="primary" @click="btn_click(active)">公众号支付</van-button>
                    <p style="color:brown" v-show="!!orderno">订单编号：{{orderno}}</p>
                </div>
                <div v-if="active==4" style="margin-left:30px;margin-top:50px;">
                    <pre style="margin-top:10px;margin-left:1px;background-color:#808080;color:white">备注说明：
1).配置MchId
2).配置TenPayKey
3).配置回调URl
4).微信商户号中配置授权域名
5).出现异常请查看log文件
                    </pre>
                    <input type="number" placeholder="支付金额" id="codenumber" style="height:30px;margin-bottom:10px" step="0.01" />
                    <van-button type="primary" @click="btn_click(active)">扫码支付</van-button>
                    <div style="text-align:center;display:none;margin-top:20px;">
                        <div id="qrcode" style="">

                        </div>
                        <p style="color:brown"  v-show="!!orderno" >订单编号：{{orderno}}</p>
                        <p>二维码有效时间5分钟</p>
                        <p style="color:red">有效时间{{time}}</p>
                    </div>
                </div>
                <div v-if="active==5" style="margin-left:30px;margin-top:50px;">
                    <van-button type="primary" @click="btn_click(active)">微信分享</van-button>

                </div>
                <div v-if="active==6" style="margin-left:30px;margin-top:50px;">
                    <van-button type="primary" @click="btn_click(active)">分享</van-button>
                </div>
                <div v-if="active==7" style="margin-left:30px;margin-top:50px;">
                    <van-button type="primary" @click="btn_click(active)">个人信息</van-button>
                    <div style="text-align: center;margin-top:10px;font-size:15px;" v-show="!!requestmodel">

                        <fieldset>
                            <legend>个人信息</legend>

                            <div style="display:flex;height:30px;">
                                <label>昵称：</label>
                                <label>{{requestmodel.nickname}}</label>
                            </div>
                            <div style="display:flex;height:30px;">
                                <label>性别：</label>
                                <label>{{requestmodel.sex==1?'男':'女'}}</label>
                            </div>
                            <div style="display:flex;height:30px;">
                                <label>地址：</label>
                                <label>{{requestmodel.country+'-'+requestmodel.province+'-'+requestmodel.city}}</label>
                            </div>
                            <div style="display:flex;height:30px;">
                                <label>openid：</label>
                                <label>{{requestmodel.openid}}</label>
                            </div>
                            <div style="display:flex;height:100px;">
                                <!--<label>头像：</label>-->
                                <img width="100" height="100" :src="requestmodel.headimgurl" />
                            </div>
                        </fieldset>

                   
                    </div>
                    <pre style="margin-top:10px;background-color:#808080;color:white" v-show="!!requestmodel">个人信息
                      {{requestmodel}}
                    </pre>
                </div>

            </template>
        </van-tree-select>
    </div>
</body>
</html>
<script>
    var serverIds = [];//定义返回结果
    var appid = "wxf4d49d7ee1a463be";
    var iCount;
    var uri = "http://152s178870.eicp.vip/V1.1_Mobile/index.html";
    var vm = new Vue({
        el: '#app',
        data: {
            items: [
                { text: '上传图片', dot: true },
                { text: '地理位置', dot: true  },
                { text: '扫一扫', dot: true },
                { text: '公众号支付', dot: true },
                { text: '扫码支付', dot: true },
                { text: '微信分享', dot: true },
                { text: 'QQ分享', dot: true },
                { text: '个人信息', dot: true },

            ],
            images: [],//微信图片
            active: 0,//菜单选择事件
            remark: '',//备注
            requestmodel: '',//个人信息数据对象
            Location: {},//微信位置对象数据
            mapmodel: "",//地图对象
            time: -100,//二维码有效时间
            orderno:''//订单编号

        },
        created: function () {
            //加载事件
        },
        mounted: function () {//渲染出真实dom

        },
        updated: function () {//当更新完成后,执行

        },
        computed: {
            //用于数据操作
        },
        methods: { //绑定按钮事件
            menu_click(index) {
                obj.modelempty();
                this.active = index;
            },
            btn_click(index) {
                switch (index) {
                    case 0:
                        obj.wx_chooseImage(9);
                        break;
                    case 1:
                        obj.getLocation();
                        break;
                    case 2:
                        obj.wx_QeCode();
                        break;
                    case 3:
                        obj.Tepcallpay();
                        break;
                    case 4:
                        clearInterval(iCount);//停止计时器
                        obj.ScanCode();
                        iCount = setInterval(function () {
                            if (vm.time != -100) {
                                if (vm.time == 0) {
                                    obj.ScanCode();
                                } else
                                    vm.time = vm.time - 1;
                            }
                        }, 1000);
                        break;
                    case 5:
                        obj.sharetimeline();
                        break;
                    case 6:
                        obj.ShareQZone();
                        break;
                    case 7:
                        this.requestmodel = {};
                        obj.getmodel();
                        break;

                }
            },
            //打开腾旭地图
            openwxmap() {
                obj.openLocation();
            },
            getaddress() {
                if (!!vm.Location)
                    obj.GetAddress(vm.Location.latitude, vm.Location.longitude);
            },
        }
    })



    var obj = {
        load() {
            let url = $frame.encrypt(location.href.split('#')[0]);
            $frame.RequestGet("MobileApi/GetConfig", { url }, (x) => {
                if (x.Success)
                    obj.wxconfig(x.Data);
                else
                    $frame.alert(x.Data);
            });
            let code = $frame.GetQueryString("code");
            if ($frame.IsEmpty($frame.sessionget('openid'))) {
                if ($frame.IsEmpty(code)) {
                    window.location.href = `https://open.weixin.qq.com/connect/oauth2/authorize?appid=${appid}&redirect_uri=${uri}&response_type=code&scope=snsapi_userinfo&state=STATE&connect_redirect=1#wechat_redirect`;
                } else {
                    $frame.RequestGet("MobileApi/GetInformation", { code: code }, (x) => {
                        if (x.Success) {
                            $frame.sessionset("openid", x.Data);
                        } else
                            $frame.alert(x.Data);
                    });
                }
            }
        },
        wxconfig(date, debug) {
            debug = debug || false;
            wx.config({
                debug: debug, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
                appId: date.appId, // 必填，公众号的唯一标识
                timestamp: date.timeStamp, // 必填，生成签名的时间戳
                nonceStr: date.nonceStr, // 必填，生成签名的随机串
                signature: date.signature,// 必填，签名，见附录1
                jsApiList: [
                    "scanQRCode",
                    "checkJsApi",
                    "chooseImage",
                    "uploadImage",
                    "downloadImage",
                    "onMenuShareTimeline",
                    "onMenuShareQZone",
                    "onMenuShareAppMessage",
                    "openLocation",
                    "getLocation",
                    "translateVoice",
                    "startRecord",
                    "playVoice",
                    "pauseVoice",
                    "stopVoice",
                    "onVoicePlayEnd",
                    "stopRecord",
                    "onVoiceRecordEnd",
                    "uploadVoice",
                    "downloadVoice"
                ] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
            });
            wx.error(function (res) {
                console.log("错误", res.errMsg);
                console.log("错误", res);
                // config信息验证失败会执行error函数，如签名过期导致验证失败，具体错误信息可以打开config的debug模式查看，
                // 也可以在返回的res参数中查看，对于SPA可以在这里更新签名。
            });
        },

        getmodel() {//获取个人信息

            $frame.RequestGet("MobileApi/GetOpenidInformation", { openid: $frame.sessionget("openid") }, (x) => {
                if (x.Success) {
                    vm.requestmodel = x.Data;
                } else
                    $frame.alert(x.Data);
            });

        },





        //上传图片wx_chooseImage
        //count 上传图片的张数 默认1张
        //返回全部选中图片serverId  多个以,分割
        wx_chooseImage(count) {
            vm.remark = '';
            count = count || 1;
            wx.chooseImage({
                count: count, // 默认1
                sizeType: ['original', 'compressed'], // 可以指定是原图还是压缩图，默认二者都有
                sourceType: ['album', 'camera'], // 可以指定来源是相册还是相机，默认二者都有
                success: function (res) {
                    let localIds = res.localIds; // 返回选定照片的本地ID列表，localId可以作为img标签的src属性显示图片
                    vm.images = localIds;

                    for (let i = 0; i < localIds.length; i++) {
                        obj.uploadImage(localIds[i], serverIds);
                    }
                    // vm.remark = "serverIds:" + JSON.stringify(serverIds);// res.serverId + ',';
                }
            });

            return serverIds;
        },
        //返回图片的服务器端ID
        uploadImage(localId, serverIds) {
            //  var  serverId = "";
            wx.uploadImage({
                localId: localId, // 需要上传的图片的本地ID，由chooseImage接口获得
                isShowProgressTips: 1, // 默认为1，显示进度提示
                success: function (res) {
                    vm.remark = res.serverId + ',';
                    serverIds.push(res.serverId);
                    return res.serverId; // 返回图片的服务器端ID
                }
            });
            // return serverId;
        },

        //返回图片下载后的本地ID
        downloadImage(serverId) {
            var localId = "";
            wx.downloadImage({
                serverId: serverId, // 需要下载的图片的服务器端ID，由uploadImage接口获得
                isShowProgressTips: 1, // 默认为1，显示进度提示
                success: function (res) {
                    localId = res.localId; // 返回图片下载后的本地ID
                }
            });
            return localId;
        },

        //获取本地图片接口
        getLocalImgData(localId) {
            var localData = "";
            wx.getLocalImgData({
                localId: '', // 图片的localID
                success: function (res) {
                    localData = res.localData; // localData是图片的base64数据，可以用img标签显示
                }
            });
            return localData;
        },

        //微信扫一扫
        wx_QeCode() {
            wx.scanQRCode({
                needResult: 1,
                desc: 'scanQRCode desc',
                success: function (res) {
                    //扫到的参数
                    console.log("返回对象：", res);
                    $frame.alert(res.resultStr);
                    //return
                }
            });
        },
        //微信公众号支付
        jsApiCall(r, fun) {
            let res = (typeof (r) == "string" ? JSON.parse(r) : r);
            WeixinJSBridge.invoke(
                'getBrandWCPayRequest', res,
                function (res) {
                    // alert(res.err_code + res.err_desc);
                    // alert(res.err_msg);
                    if (res.err_msg == "get_brand_wcpay_request:ok") {
                        if (fun)
                            fun(true);
                    } else {
                        if (fun)
                            fun(false);//用户取消支付
                    }
                }
            );

        },
        callpay(r, fun) {
            if (typeof WeixinJSBridge == "undefined") {
                if (document.addEventListener) {
                    document.addEventListener('WeixinJSBridgeReady', obj.jsApiCall, false);
                } else if (document.attachEvent) {
                    document.attachEvent('WeixinJSBridgeReady', obj.jsApiCall);
                    document.attachEvent('onWeixinJSBridgeReady', obj.jsApiCall);
                }
            } else {
                return jsApiCall(r, fun);
            }
        },

        Tepcallpay() {
            let number = $("#number").val();
            if ($frame.IsEmpty(number) || !(Number(number) > 0)) {
                $frame.alert("请输入金额！");
                return false;
            }
            $frame.RequestGet("MobileApi/GetPay", { openid: $frame.sessionget('openid'), total_fee: number }, (x) => {
                if (x.Success) {
                    vm.orderno = x.Data.orderno;//订单编号
                    obj.callpay(JSON.parse(x.Data.paymodel), (m) => {
                        if (m) {//支付成功
                            $frame.alert("支付成功！");
                            //查询微信订单状态、修改订单状态
                        } else
                            $frame.alert("你取消了支付！");
                    });
                } else
                    $frame.alert(x.Data);
            });

        },
        //微信扫码支付
        ScanCode() {
            let number = $("#codenumber").val();
            if ($frame.IsEmpty(number) || !(Number(number) > 0)) {
                $frame.alert("请输入金额！");
                return false;
            }
            $frame.RequestGet("MobileApi/GetScanPay", { total_fee: number }, (x) => {
                if (x.Success) {
                    $('#qrcode').empty();
                    //jQuery('#qrcode').qrcode("http://baidu.com");
                    vm.orderno = x.Data.orderno;
                    jQuery('#qrcode').qrcode(x.Data.payurl);
                    vm.time = 300;
                    $("#qrcode").parent().show();
                } else
                    $frame.alert(x.Data);
            });
        },



        //获取“分享到朋友圈”按钮点击状态及自定义分享内容接口
        sharetimeline(dfop) {
            let o = {
                title: '测试',//分享标题
                link: '',//分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
                desc: '测试',//分享描述
                imgUrl: ''//分享图标
            }
            $.extend(o, dfop || {});

            wx.onMenuShareTimeline({
                title: o.title, //
                link: o.link, //
                imgUrl: o.imgUrl, //
                success: function () {
                    $frame.alert("分享成功！");
                    // 用户确认分享后执行的回调函数
                },
                cancel: function () {
                    $frame.alert("您取消了分享");
                    // 用户取消分享后执行的回调函数
                }
            });
        },
        //获取“分享到QQ空间”按钮点击状态及自定义分享内容接口
        ShareQZone(dfop) {
            let o = {
                title: '测试',//分享标题
                link: '',//分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
                desc: '测试',//分享图标
                imgUrl: ''
            }
            $.extend(o, dfop || {});
            wx.onMenuShareQZone({
                title: o.title, // 分享标题
                desc: o.desc, // 分享描述
                link: o.link, // 分享链接
                imgUrl: o.imgUrl, // 分享图标
                success: function () {
                    $frame.alert("分享成功！");
                    // 用户确认分享后执行的回调函数
                },
                cancel: function () {
                    $frame.alert("您取消了分享");
                    // 用户取消分享后执行的回调函数
                }
            });
        },
        //获取“分享给朋友”按钮点击状态及自定义分享内容接口
        ShareAppMessage(dfop) {
            let o = {
                title: '测试',//分享标题
                link: '',//分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
                desc: '测试',//分享图标
                imgUrl: ''
            }
            $.extend(o, dfop || {});
            wx.onMenuShareAppMessage({
                title: title, // 分享标题
                desc: desc, // 分享描述
                link: link, // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
                imgUrl: imgUrl, // 分享图标
                type: '', // 分享类型,music、video或link，不填默认为link
                dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
                success: function () {
                    $frame.alert("分享成功！");
                    // 用户确认分享后执行的回调函数
                },
                cancel: function () {
                    $frame.alert("您取消了分享");
                    // 用户取消分享后执行的回调函数
                }
            });
        },

        //打开微信腾讯地图
        //longitude,纬度，浮点数，范围为90 ~ -90
        //latitude 经度，浮点数，范围为180 ~ -180。
        //name  位置名
        //address  地址详情说明
        //scale 地图缩放级别,整形值,范围从1~28。默认为最大
        //infoUrl:  // 在查看位置界面底部显示的超链接,可点击跳转
        openLocation(longitude, latitude, name, address, scale) {
            wx.openLocation({
                latitude: latitude,
                longitude: longitude,
                name: name,
                address: address,
                scale: scale,
                infoUrl: 'http://weixin.<a href="http://www.it165.net/qq/" target="_blank" class="keylink">qq</a>.com'
            });
        },

        //获取地理位置
        getLocation() {
            wx.getLocation({
                type: 'wgs84', // 默认为wgs84的gps坐标，如果要返回直接给openLocation用的火星坐标，可传入'gcj02'
                success: function (res) {
                    vm.Location = res;
                    vm.remark = '纬度:' + res.latitude + ",经度" + res.longitude;
                    console.log("返回数据对象", res);
                    //res.speed;// 速度，以米/每秒计
                    //res.accuracy; // 位置精度
                },
                cancel: function (res) {
                    $frame.alert('用户拒绝授权获取地理位置');
                }
            });
        },
        //获取百度位置
        GetAddress(latitude, longitude) {
            $frame.RequestGet("MobileApi/GetAddress", { latitude, longitude }, (x) => {
                if (x.Success) {
                    x.Data = x.Data.replace('renderReverse&&renderReverse(', '');
                    vm.mapmodel = JSON.parse(x.Data.substring(0, x.Data.length - 1));
                } else
                    $frame.alert(x.Data);

            });

        },

        modelempty() {//vue 绑定对象初始化
            $("#qrcode").parent().hide();         
            clearInterval(iCount);
            $("#codenumber,#number").val('')
            vm.orderno = '';
            vm.images = [];//微信图片
            vm.remark = '';//备注
            vm.requestmodel = '';//个人信息数据对象
            vm.Location = {};//微信位置对象数据
            vm.mapmodel = "";//地图对象
            vm.time = -100;//二维码有效时间
        },
    }


    obj.load();

</script>