<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>微信管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="/wwwroot/layui/css/layui.css" rel="stylesheet" />
    <script src="/wwwroot/JS/jquery-3.3.1.min.js"></script>
    <script src="/wwwroot/JS/vue.min.js"></script>
    <style>
        .layui-header li:hover {
            cursor: pointer;
            color: #0094ff;
            background-color: #808080;
        }

        .nav-title {
            color: #ff6a00;
            line-height: 60px;
            width: 200px;
            text-align: center;
            border-right: 1px #808080 solid
        }

        .checked {
            background-color: #808080;
        }

        iframe {
            height: 96%;
            width: 100%;
        }

        .admin-header {
            z-index: 1000;
            height: 40px;
            position: relative;
            width: 100%;
            height: 40px;
            margin-left: 202px;
        }

            .admin-header li {
                height: 40px;
                line-height: 40px;
                padding-right: 10px;
                padding-left: 20px;
            }

                .admin-header li:hover {
                    cursor: pointer;
                    color: white;
                    background-color: #c3bfbf;
                    border-top: 1px #808080 solid;
                }

        .admin-header-check {
            background-color: #d4cfcf;
            color: white;
        }

        .layui-body {
            top: 100px !important;
        }

        .layui-icon-close {
            padding-left: 20px;
            color: black;
            float: right
        }

            .layui-icon-close:hover {
                color: red
            }



        .layui-nav-child a {
            padding-left: 30px !important;
        }
    </style>
</head>
<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">

        <div class="layui-header">
            <div class="layui-logo">应用管理</div>
            <ul class="layui-nav layui-layout-right" lay-filter="layadmin-layout-right">

                <!--<li class="layui-nav-item" lay-unselect>
                    <a lay-href="app/message/index.html" layadmin-event="message" lay-text="消息中心">
                        <i class="layui-icon layui-icon-notice"></i>

                        如果有新消息，则显示小圆点
                        <span class="layui-badge-dot"></span>
                    </a>
                </li>-->
                <!--<li class="layui-nav-item layui-hide-xs" lay-unselect>
                    <a href="javascript:;" layadmin-event="theme">
                        <i class="layui-icon layui-icon-theme"></i>
                    </a>
                </li>-->
                <!--<li class="layui-nav-item layui-hide-xs" lay-unselect>
                    <a href="javascript:;" layadmin-event="note">
                        <i class="layui-icon layui-icon-note"></i>
                    </a>
                </li>
                <li class="layui-nav-item layui-hide-xs" lay-unselect>
                    <a href="javascript:;" layadmin-event="fullscreen">
                        <i class="layui-icon layui-icon-screen-full"></i>
                    </a>
                </li>-->
                <li class="layui-nav-item unselect">
                    <a href="javascript:;">
                        <cite>{{!!model?model.Name:''}}</cite>
                    </a>
                    <dl class="layui-nav-child" style=" top: 50px;">
                        <dd><a>基本资料</a></dd>
                        <dd><a>修改密码</a></dd>
                        <hr>
                        <dd @click="logout()" style="text-align: center;"><a>退出</a></dd>
                    </dl>
                </li>

                <!--<li class="layui-nav-item layui-hide-xs" lay-unselect>
                    <a href="javascript:;" layadmin-event="about"><i class="layui-icon layui-icon-more-vertical"></i></a>
                </li>
                <li class="layui-nav-item layui-show-xs-inline-block layui-hide-sm" lay-unselect>
                    <a href="javascript:;" layadmin-event="more"><i class="layui-icon layui-icon-more-vertical"></i></a>
                </li>-->
            </ul>
        </div>
        <div class="admin-header">
            <!--<div class="layui-logo">应用管理</div>-->
            <div>
                <ul style="display:flex;padding:0">
                    <li :class="item.check?['admin-header-check']:''" :title="item.navName" v-for="(item,index)  in  iframes" @click="nav(index,item,$event)">
                        <a>
                            {{item.navName}}
                        </a>
                        <i style="float:right;margin-right:5px;" v-show="index>0" class="layui-icon layui-icon-close " title="关闭"></i>
                    </li>
                </ul>
            </div>


        </div>

        <div class="layui-side layui-bg-black">
            <div class="layui-side-scroll">
                <ul class="layui-nav layui-nav-tree" lay-filter="test">
                    <li class="layui-nav-item" v-for="item in sysmenu" v-if="sysmenu.length>0">
                        <a v-if="item.Type=='expand'" href="javascript:;">{{item.Name}}</a>
                        <a @click="openiframe(item.GuId,item.Address,item.Name,item.buttons)" v-if="item.Type=='iframe'" href="javascript:;">{{item.Name}}</a><!--一级-->
                        <dl class="layui-nav-child" v-if="!!item.PSysMenu&&item.PSysMenu.length>0">
                            <dd v-for="fitem in item.PSysMenu">
                                <a v-if="fitem.Type=='expand'" href="javascript:;">{{fitem.Name}}</a><!--二级-->
                                <a @click="openiframe(fitem.GuId,fitem.Address,fitem.Name,fitem.buttons)" v-if="fitem.Type=='iframe'">{{fitem.Name}}</a>
                                <dl class="layui-nav-child" v-if="!!fitem.PSysMenu&&fitem.PSysMenu.length>0">
                                    <dd v-for="f_item in fitem.PSysMenu">
                                        <a v-if="f_item.Type=='expand'" href="javascript:;" style="padding-left:45px!important">{{f_item.Name}}</a><!--三级-->
                                        <a @click="openiframe(f_item.GuId,f_item.Address,f_item.Name,f_item.buttons)" v-if="f_item.Type=='iframe'" style="padding-left:45px!important">{{f_item.Name}}</a>
                                    </dd>
                                </dl>
                            </dd>
                        </dl>
                    </li>
                </ul>
            </div>
        </div>

        <div class="layui-body" style="bottom:-25px">
            <iframe :src="item.Url" :data-name="item.Name" :id="item.Name" v-for="(item,index)  in  iframes" v-show="item.check"></iframe>
        </div>
    </div>
</body>
</html>



<script src="/wwwroot/layui/layui.all.js"></script>
<script src="/wwwroot/layui/layui.js"></script>
<script src="/wwwroot/JS/admin.js"></script>

<script>
    var iframes = [];
    //JavaScript代码区域
    var parent_obj = {

        getopeniframename() {//获取当前打开页面
            return vm.iframes.filter(x => { return x.check == true })[0];
        },
        geto_iframe_current() {//获取当前打开页面对象
            return window.document.getElementById(this.getopeniframename().Name).contentWindow;
        },    
        load() {//加载layui 数据插件

            layui.use('element', function () {
                var element = layui.element;
                element.init();
                //判断是否显示右侧箭头图标
                $.each($(".layui-nav-more"), (i, v) => {
                    let a = $(v).parent().next().children();
                    if (a.length == 0) $(v).hide();
                })
            });

            $(".unselect").on("click", function () {
                if ($(".unselect>dl").css("display") == "none")
                    $(".unselect>dl").css("display", "block");
                else
                    $(".unselect>dl").css("display", "none");
            })

        },
        close(msg) {//关闭窗口，提示
            layer.closeAll();
            $frame.alert_msg(msg);
        },
        laypaging(d, pageindex) {//分页功能
            pageindex = pageindex || 1;
            let data = {
                limit: 12,
                page: pageindex,
                //选择每页显示的数据条数
                callBack: false,
                url: "",
                elem: 'paging',
            };
            $.extend(data, d || {});
            $frame.RequestGet(data.url, data, (res) => {
                if (data.callBack) {
                    data.callBack(res, (Count) => {
                        let dataLength = Count;
                        layui.use(['laypage', 'layer'], function () {
                            var laypage = layui.laypage,
                                layer = layui.layer;
                            laypage.render({
                                elem: parent_obj.geto_iframe_current().document.getElementById(d.elem),
                                count: dataLength,
                                limit: data.limit,
                                first: '首页',
                                last: '尾页',
                                layout: ['count', 'prev', 'page', 'next', 'skip'],
                                curr: pageindex,
                                theme: '#00A0E9',
                                jump: function (obj, first) {
                                    if (!first) {
                                        //第一次不执行,一定要记住,这个必须有,要不然就是死循环
                                        var curr = obj.curr;
                                        //回调该展示数据的方法,数据展示
                                        $frame.laypaging(d, curr);
                                    }
                                }
                            });
                        });
                    })
                };
            });
        },


    }

    //function getopeniframename() {
    //    return vm.iframes.filter(x => { return x.check == true })[0];
    //}

    //function openiframe(name, url, navName) {
    //    let index = vm.iframes.filter(x => { return x.Name == name })[0]
    //    if (!!index) {
    //        $.each(vm.iframes, (i, v) => { v.check = false })
    //        let _i = vm.iframes.indexOf(index);
    //        index.check = true;
    //        vm.iframes[_i] = index;
    //    } else {
    //        if (vm.iframes.length >= 7) {
    //            $frame.alert_msg("列表已达到上限，请先关闭个别列表！");
    //            return false;
    //        }
    //        $.each(vm.iframes, (i, v) => { v.check = false })
    //        vm.iframes.push({
    //            Name: name,
    //            Url: url,
    //            navName: navName,
    //            check: true,
    //        });
    //    }

    //}

    var vm = new Vue({
        el: ".layui-layout-admin",
        data: {
            iframes: [],
            iframedata: [],
            sysmenu: [],
            model: "",

        },
        created: function () {
            $frame.AuthorizationReques("get", "Sys_Menu/GetAdminList", (r) => {
                if (r.Success) {
                    this.sysmenu = r.Data.mnue;
                    this.model = r.Data.model;

                    this.openiframe(99, "index.html", "首页",[]);

                    //let model = r.Data.lis.filter((r) => { return r.Name == "微信日志" })[0];
                    //this.openiframe(model.GuId, model.Address, model.Name);
                    parent_obj.load();//加载layui插件
                } else
                    console.log(r.Data);
            });
        },
        mounted: function () {//渲染出真实dom


        },
        methods: {
            nav(index, item, event) {
                if (event.target.localName == "i")
                    vm.close(index, item);
                else {
                    $.each(vm.iframes, (i, v) => { v.check = false })
                    let _index = vm.iframes.filter(x => { return x.Name == item.Name })[0];
                    let _i = vm.iframes.indexOf(_index);
                    if (_i > -1)
                        _index.check = true;
                }
            },
            close(index, item) {
                let _index = vm.iframes.filter(x => { return x.Name == item.Name })[0];
                let _i = vm.iframes.indexOf(_index);
                vm.iframes.splice(_i, 1);
                //$(".layui-body").find("#" + item.Name).remove();
                if (vm.iframes.length > 0) {
                    if (vm.iframes.filter(x => { return x.check == true }).length == 0) {
                        $.each(vm.iframes, (i, v) => { v.check = false });
                        vm.iframes[(vm.iframes.length - 1)].check = true;
                    }
                }
            },
            openiframe(name, url, navName, authorizationbtns) {
                if (!!url) {
                    let index = vm.iframes.filter(x => { return x.Name == name })[0]
                    if (!!index) {
                        $.each(vm.iframes, (i, v) => { v.check = false })
                        let _i = vm.iframes.indexOf(index);
                        index.check = true;
                        vm.iframes[_i] = index;
                    } else {
                        if (vm.iframes.length >= 10) {
                            $frame.alert_msg("列表已达到上限，请先关闭个别列表！");
                            return false;
                        }
                        $.each(vm.iframes, (i, v) => { v.check = false })
                        vm.iframes.push({
                            Name: name,
                            Url: url,
                            navName: navName,
                            authorizationbtns: authorizationbtns,
                            check: true,
                        });
                    }
                }

            },
            logout() {//退出登入
                $frame.confirm("提示", "确定要退出系统吗？", (m) => {
                    if (m) {
                        $frame.StorageRemove("token");
                        window.location.href = "Login.html";
                    }
                })

            }
        },

    });

</script>

