USE [master]
GO
/****** Object:  Database [Wx_Mg]    Script Date: 2020/10/14 17:50:47 ******/
CREATE DATABASE [Wx_Mg]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WX_MG', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\WX_MG.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'WX_MG_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\WX_MG_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Wx_Mg].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Wx_Mg]
GO
/****** Object:  Table [dbo].[Sys_logEntity]    Script Date: 2020/10/14 17:50:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sys_logEntity](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[GuId] [varchar](50) NULL,
	[Name] [varchar](50) NULL,
	[Type] [int] NULL,
	[Content] [nvarchar](max) NULL,
	[CreateTime] [varchar](200) NULL,
	[Action] [nvarchar](100) NULL,
 CONSTRAINT [PK__Sys_logE__3214EC078A8C2911] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Sys_MenuEntity]    Script Date: 2020/10/14 17:50:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sys_MenuEntity](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[GuId] [varchar](50) NULL,
	[Name] [varchar](50) NULL,
	[Number] [varchar](50) NULL,
	[SuperiorId] [varchar](50) NULL,
	[Address] [varchar](200) NULL,
	[IsDel] [int] NULL,
	[Sort] [int] NULL,
	[Type] [varchar](200) NULL,
	[CreateTime] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Wx_EvenMessageEntity]    Script Date: 2020/10/14 17:50:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Wx_EvenMessageEntity](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[GuId] [nvarchar](50) NULL,
	[WxAppId] [nvarchar](50) NULL,
	[EventKey] [nvarchar](50) NULL,
	[EventType] [nvarchar](50) NULL,
	[CreateTime] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Wx_MenuEntity]    Script Date: 2020/10/14 17:50:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Wx_MenuEntity](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[GuId] [nvarchar](50) NULL,
	[WxAppId] [nvarchar](50) NULL,
	[Content] [nvarchar](max) NULL,
	[CreateTime] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Wx_MessageEntity]    Script Date: 2020/10/14 17:50:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Wx_MessageEntity](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[GuId] [nvarchar](50) NULL,
	[WxAppId] [nvarchar](50) NULL,
	[Type] [int] NULL,
	[Key] [int] NULL,
	[Name] [nvarchar](200) NULL,
	[Content] [nvarchar](max) NULL,
	[MatchingWay] [int] NULL,
	[CreateTime] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Wx_PushListEntity]    Script Date: 2020/10/14 17:50:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Wx_PushListEntity](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[GuId] [nvarchar](50) NULL,
	[TempId] [nvarchar](50) NULL,
	[Oppid] [nvarchar](50) NULL,
	[Content] [nvarchar](max) NULL,
	[ResContent] [nvarchar](max) NULL,
	[CreateTime] [nvarchar](50) NULL,
	[WxAppId] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Wx_PushTemplateEntity]    Script Date: 2020/10/14 17:50:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Wx_PushTemplateEntity](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[GuId] [nvarchar](50) NULL,
	[TempId] [nvarchar](50) NULL,
	[Name] [nvarchar](50) NULL,
	[Content] [nvarchar](max) NULL,
	[CreateTime] [nvarchar](30) NULL,
	[WxAppId] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Wx_UserEntity]    Script Date: 2020/10/14 17:50:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Wx_UserEntity](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[GuId] [nvarchar](50) NULL,
	[Openid] [nvarchar](50) NULL,
	[Nickname] [nvarchar](50) NULL,
	[Address] [nvarchar](100) NULL,
	[Headimgurl] [varchar](500) NULL,
	[Sex] [int] NULL,
	[SubscribeTime] [varchar](30) NULL,
	[CreateTime] [nvarchar](30) NULL,
	[WxAppId] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Sys_logEntity] ON 

INSERT [dbo].[Sys_logEntity] ([Id], [GuId], [Name], [Type], [Content], [CreateTime], [Action]) VALUES (7, N'2c737e68-f3e9-4489-91d6-33dd550253bc', N'菜单编辑', 1, N'{"Id":0,"GuId":"58606827-e11d-4fde-8dd5-709952e26878","Name":"配置管理","Number":"wxconfig","SuperiorId":"1","Address":null,"IsDel":0,"Sort":0,"Type":"expand","CreateTime":"2020-10-11 15:25:21","buttons":null,"PSysMenu":[]}', N'2020-10-11 15:25:21', N'Sys_Menu/SaveFrom')
INSERT [dbo].[Sys_logEntity] ([Id], [GuId], [Name], [Type], [Content], [CreateTime], [Action]) VALUES (8, N'2e414235-c7fe-4fa7-b013-ecf00ea6356f', N'菜单编辑', 2, N'{"Id":2,"GuId":"63246CA4-766A-4691-8019-D0697BE198E5","Name":"基本配置","Number":"WXConfig","SuperiorId":"45","Address":"Mg_WXConfig/index.html","IsDel":0,"Sort":0,"Type":"iframe","CreateTime":"2020-09-27 9:50:00","buttons":null,"PSysMenu":[]}', N'2020-10-11 15:25:41', N'Sys_Menu/SaveFrom')
INSERT [dbo].[Sys_logEntity] ([Id], [GuId], [Name], [Type], [Content], [CreateTime], [Action]) VALUES (9, N'ddbd3cf4-35ee-4acd-9e16-50bfbabb5c1f', N'菜单编辑', 2, N'{"Id":3,"GuId":"914F5733-83C9-4C93-9BD0-2BCD8C994F4F","Name":"微信菜单配置","Number":"WMenu","SuperiorId":"45","Address":"Mg_WXConfig/Menu.html","IsDel":0,"Sort":1,"Type":"iframe","CreateTime":"2020-09-27 9:50:00","buttons":null,"PSysMenu":[]}', N'2020-10-11 15:25:49', N'Sys_Menu/SaveFrom')
SET IDENTITY_INSERT [dbo].[Sys_logEntity] OFF
SET IDENTITY_INSERT [dbo].[Sys_MenuEntity] ON 

INSERT [dbo].[Sys_MenuEntity] ([Id], [GuId], [Name], [Number], [SuperiorId], [Address], [IsDel], [Sort], [Type], [CreateTime]) VALUES (1, N'08080707-2116-46B2-9904-97C86DDDB577', N'微信管理', N'WX', N'0', N'', 0, 0, N'expand', N'2020-09-27 9:50:00')
INSERT [dbo].[Sys_MenuEntity] ([Id], [GuId], [Name], [Number], [SuperiorId], [Address], [IsDel], [Sort], [Type], [CreateTime]) VALUES (2, N'63246CA4-766A-4691-8019-D0697BE198E5', N'基本配置', N'WXConfig', N'45', N'Mg_WXConfig/index.html', 0, 0, N'iframe', N'2020-09-27 9:50:00')
INSERT [dbo].[Sys_MenuEntity] ([Id], [GuId], [Name], [Number], [SuperiorId], [Address], [IsDel], [Sort], [Type], [CreateTime]) VALUES (3, N'914F5733-83C9-4C93-9BD0-2BCD8C994F4F', N'菜单配置', N'WMenu', N'45', N'Mg_WXConfig/Menu.html', 0, 1, N'iframe', N'2020-09-27 9:50:00')
SET IDENTITY_INSERT [dbo].[Sys_MenuEntity] OFF
SET IDENTITY_INSERT [dbo].[Wx_MenuEntity] ON 

SET IDENTITY_INSERT [dbo].[Wx_MenuEntity] OFF
SET IDENTITY_INSERT [dbo].[Wx_PushListEntity] ON 

SET IDENTITY_INSERT [dbo].[Wx_PushListEntity] OFF
SET IDENTITY_INSERT [dbo].[Wx_PushTemplateEntity] ON 

INSERT [dbo].[Wx_PushTemplateEntity] ([Id], [GuId], [TempId], [Name], [Content], [CreateTime], [WxAppId]) VALUES (1, N'7a8a1030-5173-4e92-9fdd-796335684c43', N'zJPCnfXRETA3kO2thmNbG9r2rN_SnKqsGobkXlSdBVc', N'测试', N' {{title.DATA}}
 测试：{{keyword1.DATA}}
 测试：{{keyword2.DATA}} 
测试：{{keyword3.DATA}} 
备注：{{remark.DATA}}
', N'2020-10-11 17:14:09', N'wxf4d49d7ee1a463be')
SET IDENTITY_INSERT [dbo].[Wx_PushTemplateEntity] OFF
SET IDENTITY_INSERT [dbo].[Wx_UserEntity] ON 

INSERT [dbo].[Wx_UserEntity] ([Id], [GuId], [Openid], [Nickname], [Address], [Headimgurl], [Sex], [SubscribeTime], [CreateTime], [WxAppId]) VALUES (7, N'd39a9147-9a24-4fe1-bcde-1c36bdc8cbb9', N'oF6zUwrLBSHhn_EsWuUnnzBXJe_4', N'lzf', N'中国江苏', N'http://thirdwx.qlogo.cn/mmopen/Q3auHgzwzM7KuWyYqJUEKB1prexWz7icsRFcOW7x44icjfaia0fkBickxmUkIK6MzxrIh5SFuAflDIayF10yic679VWuVJEjLgOrIGdQezRgDBC4/132', 1, N'1597219940', N'2020-10-13 11:29:27', N'wxf4d49d7ee1a463be')
INSERT [dbo].[Wx_UserEntity] ([Id], [GuId], [Openid], [Nickname], [Address], [Headimgurl], [Sex], [SubscribeTime], [CreateTime], [WxAppId]) VALUES (8, N'd03472bd-81a7-4c51-ae0c-450723223750', N'oF6zUwh918mV1b16D630Cr3pHIA4', N'ERROI', N'中国江苏苏州', N'http://thirdwx.qlogo.cn/mmopen/HLIibDmaSEVMOCDkhlTZiciaCRdianI0yP4nK63vCfiaddMZRQ00nK7euEKH6yI0hvmp8LE9wg8fVrYU3Bz8z74v7N63qPXWPG6lT/132', 1, N'1597713323', N'2020-10-13 11:29:27', N'wxf4d49d7ee1a463be')
INSERT [dbo].[Wx_UserEntity] ([Id], [GuId], [Openid], [Nickname], [Address], [Headimgurl], [Sex], [SubscribeTime], [CreateTime], [WxAppId]) VALUES (9, N'192436bd-2b08-4d72-a863-5ee1b6aeca87', N'oF6zUwjD4kuYfHYkBpogsNx_YtkQ', N'+7', N'比利时', N'http://thirdwx.qlogo.cn/mmopen/EtUakuZ0XRLPXpTBbyxEzNuckek31nEibaG5zUQ8mWqwk57ndia48tYkqAl9T5bza7oQFPP3EsEdbeGBnTNaeAK72JmBWGxN7J/132', 2, N'1602559726', N'2020-10-13 11:29:27', N'wxf4d49d7ee1a463be')
SET IDENTITY_INSERT [dbo].[Wx_UserEntity] OFF
USE [master]
GO
