<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>微信基本配置</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="/HTML/layui/css/layui.css" rel="stylesheet" />
    <script src="/HTML/JS/jquery-3.3.1.min.js"></script>
    <script src="/HTML/JS/vue.min.js"></script>
    <script src="/HTML/layui/layui.all.js"></script>
    <style>
        .layui-form-label {
            width: 150px;
        }
    </style>
</head>
<body>
    <div id="app" style="margin:10px;">
        <button type="button" class="layui-btn" v-on:click="btnsave"> <i class="layui-icon layui-icon-file-b"></i>保存</button>
        <label class="layui-label" style="color:#ff0000;margin-left:50px;">未使用数据库，缓存功能,每次重启项目清空！</label>


        <div class="layui-form-item">
            <label class="layui-form-label">微信关注回复</label>
            <div class="layui-input-block">

                <table class="layui-table">
                    <thead>
                        <tr>
                            <th>回复类型</th>
                            <th width="50%">消息体</th>
                            <th>
                                操作 <button class="layui-btn layui-btn-xs" @click="reply_addmodel">
                                    <i class="layui-icon">&#xe608;</i>新增
                                </button>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(item,index) in model" v-if="!!model">
                            <td>
                                <select :value="model[index].Key" v-model="model[index].Key" class="layui-select" @change="reply_btnsel(model[index])">
                                    <option value="">请选择</option>
                                    <option v-for="itm in typelis" :value="itm.Key">{{itm.Name}}</option>
                                </select>
                            </td>
                            <td>
                                <fieldset v-for="(v,i) in model[index].Temp " v-if="model[index].Temp.length>0" style="margin-bottom:3px;">
                                    <legend>列表{{i+1}}   <button class="layui-btn layui-btn-danger layui-btn-xs" @click="reply_dellis(model[index],i)" v-if="model[index].Key==2">移除</button></legend>
                                    <div>
                                        <template v-for="vitem in  getkey(v)">
                                            <label v-if="typebool(vitem)" style="line-height:35px">{{model[index].Temp[i][vitem]}}：</label>
                                            <input v-else class="layui-input" :value="model[index].Temp[i][vitem]" type="text" v-model="model[index].Temp[i][vitem]" :placeholder="v[vitem]" style="width:400px;margin-top:3px;">
                                        </template>
                                    </div>
                                </fieldset>
                            </td>
                            <td>
                                <button class="layui-btn" v-if="model[index].Key==2" @click="reply_addlis(model[index])">新增图文列表</button>
                                <button class="layui-btn layui-btn-danger" @click="reply_delmodel(index)">移除</button>
                            </td>
                        </tr>
                        <tr align="center" v-if="model.length==0">
                            <td colspan="3">暂无数据</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
        <HR style="FILTER:alpha(opacity=100,finishopacity=0,style=1)" width="100%" color=#987cb9 SIZE=3 />
        <div class="layui-form-item">
            <label class="layui-form-label">按钮点击事件</label>

            <div class="layui-input-block">

                <table class="layui-table">
                    <thead>
                        <tr>
                            <th>事件类型</th>
                            <th>事件KEY</th>
                            <th>
                                操作  <button class="layui-btn layui-btn-xs" @click="event_add_list">
                                    <i class="layui-icon">&#xe608;</i>新增
                                </button>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(item,index) in Eventlist" v-if="!!Eventlist&&Eventlist.length>0">
                            <td  v-if="!!item">
                                <select v-model="Eventlist[index].EventType" :value="Eventlist[index].EventType"  class="layui-select">
                                    <option v-for="itm in Eventtype" :value="itm.Id">{{itm.Name}}</option>
                                </select>
                            </td>
                            <td  v-if="!!item">
                                <input type="text" class="layui-input" :value="Eventlist[index].EventKey" v-model="Eventlist[index].EventKey" placeholder="按钮事件自定义KEY">
                            </td>

                            <td  v-if="!!item">
                                <button class="layui-btn layui-btn-danger" @click="event_del_lis(Eventlist[index])">移除</button>
                            </td>
                        </tr>
                        <tr align="center" v-if="!Eventlist||Eventlist.length==0">
                            <td colspan="3">暂无数据</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>

        <HR style="FILTER:alpha(opacity=100,finishopacity=0,style=1)" width="100%" color=#987cb9 SIZE=3 />
        <div class="layui-form-item">
            <label class="layui-form-label">微信关键字回复</label>

            <div class="layui-input-block">

                <input type="text" class="layui-input" placeholder="关键字" style="width:200px;float:left" id="search_name" />
                <button class="layui-btn" type="button" style="width:80px;float:left;margin-left:10px;" @click="reply_search">
                    <i class="layui-icon layui-icon-search"></i>查询
                </button>
                <div id="page" style="float:right"></div>



                <table class="layui-table">
                    <thead>
                        <tr>
                            <th>关键字</th>
                            <th>匹配类型</th>
                            <th>回复类型</th>
                            <th>消息体</th>
                            <th>
                                操作  <button class="layui-btn layui-btn-xs" @click="reply_add_list">
                                    <i class="layui-icon">&#xe608;</i>新增
                                </button>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(item,index) in pagingdata" v-if="pagingdata.length>0">
                            <td>
                                <input type="text" class="layui-input" :value="pagingdata[index].Name" v-model="pagingdata[index].Name" :placeholder="pagingdata[index].Name">
                            </td>
                            <td>
                                <select :value="pagingdata[index].MatchingWay" v-model="pagingdata[index].MatchingWay" class="layui-select">
                                    <option value="0">模糊匹配</option>
                                    <option value="1">完全匹配</option>
                                </select>
                            </td>
                            <td>
                                <select :value="pagingdata[index].Key" v-model="pagingdata[index].Key" class="layui-select" @change="reply_btnsel(pagingdata[index])">
                                    <option value="">请选择</option>
                                    <option v-for="itm in typelis" :value="itm.Key">{{itm.Name}}</option>
                                </select>
                            </td>
                            <td>
                                <fieldset v-for="(v,i) in pagingdata[index].Temp " v-if="pagingdata[index].Temp.length>0" style="margin-bottom:3px;">
                                    <legend>列表{{i+1}}   <button class="layui-btn layui-btn-danger layui-btn-xs" v-if="pagingdata[index].Key==2" @click="reply_dellis(pagingdata[index],i)">移除</button></legend>
                                    <div>
                                        <template v-for="vitem in  getkey(v)">
                                            <label v-if="typebool(vitem)" style="line-height:35px">{{pagingdata[index].Temp[i][vitem]}}：</label>
                                            <input v-else class="layui-input" :value="pagingdata[index].Temp[i][vitem]" type="text" v-model="pagingdata[index].Temp[i][vitem]" :placeholder="v[vitem]" style="width:400px;margin-top:3px;">
                                        </template>
                                    </div>
                                </fieldset>
                            </td>
                            <td>
                                <button class="layui-btn" v-if="pagingdata[index].Key==2" @click="reply_addlis(pagingdata[index])">新增图文列表</button>
                                <button class="layui-btn layui-btn-danger" @click="reply_del_lis(pagingdata[index])">移除</button>
                            </td>
                        </tr>
                        <tr align="center" v-if="list.length==0">
                            <td colspan="5">暂无数据</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>

    </div>
</body>
</html>
<script>
    let $frame = top.$frame;
    var vm = new Vue({
        el: '#app',
        data: {
            list: [],//自动回复列表
            Eventlist: [],//事件列表
            model: [],
            pagingdata: [],
            typelis: [
                { Key: 1, Name: '文本消息类型', lis: [{ Title: "详情", Name: "Content" }] },
                { Key: 2, Name: '图文消息主体', lis: [{ Title: "图片链接", Name: "PicUrl" }, { Title: "标题", Name: "Title" }, { Title: "摘要", Name: "Description" }, { Title: "跳转链接", Name: "Url" }] },
                { Key: 3, Name: '图片消息', lis: [{ Title: "多媒体id", Name: "MediaId" }] },
                { Key: 4, Name: '语音消息', lis: [{ Title: "多媒体id", Name: "MediaId" }] },
                { Key: 5, Name: '音乐消息', lis: [{ Title: "多媒体id", Name: "ThumbMediaId" }, { Title: "标题", Name: "Title" }, { Title: "描述", Name: "Description" }, { Title: "链接", Name: "MusicUrl" }, { Title: "高质量音乐链接", Name: "HQMusicUrl" }] },
                { Key: 6, Name: '视频消息', lis: [{ Title: "多媒体id", Name: "MediaId" }, { Title: "标题", Name: "Title" }, { Title: "描述", Name: "Description" }] },
            ],
            Eventtype: [//Id  后台对应事件
                { Name: "扫码推事件", Id: "1" },
                { Name: "扫码推事件且弹出", Id: "2" },
                { Name: "地理位置", Id: "3" },
                { Name: "系统拍照", Id: "4" },
                { Name: "“拍照”或者“从手机相册选择”", Id: "5" },
            ]
        },
        created: function () {
            $frame.RequestGet('WXData/GetMess', '', (x) => {
                if (x.Success) {
                    let list = x.Data.Messlis;
                    this.Eventlist = x.Data.Eventlis || [];

                  
                    $.each(list, (i, v) => {
                        list[$.inArray(v, list)].Temp = JSON.parse(list[$.inArray(v, list)].Content);

                    })
                    this.list = $frame.filter(list, "Type", 1).length > 0 ? $frame.filter(list, "Type", 1) : [];

                    o.page(this.list);
                    this.model = $frame.filter(list, "Type", 2).length > 0 ? $frame.filter(list, "Type", 2) : [];
                } else
                    console.log(list);

            });

        },
        methods: {
            btnsave(event) {
                if (vm.model.length > 0)
                    vm.list.push(vm.model[0]);

                $.each(vm.list, (i, v) => {
                    vm.list[$.inArray(v, vm.list)].Content = $frame.encrypt(unescape(encodeURIComponent(JSON.stringify(vm.list[$.inArray(v, vm.list)].Temp))));
                })

                $(event.target).prop("disabled", true);
                $frame.RequestPost('WXData/SaveMess', { lis: vm.list, eventlis: vm.Eventlist }, (res) => {
                    $(event.target).prop("disabled", false);
                    if (res.Success) {
                        $frame.alert_msg("操作成功！");
                    } else
                        console.log(res.Data);

                });
            },
            //自动回复
            reply_btnsel(item) {//回复类型
                item.Temp = [];
                if (!!item.Key) {
                    let a = $frame.filter(vm.typelis, "Key", item.Key)[0].lis;//获取类型字段
                    let ob = {};
                    $.each(a, (i, v) => {

                        ob[v.Name + '_Title'] = v.Title;
                        ob[v.Name] = v.Name;
                    });
                    item.Temp.push(ob);
                }
            },
            getkey(obj) {
                return Object.keys(obj);
            },
            typebool(v) {
                if (v.indexOf("_Title") > -1)
                    return true;
                else
                    return false;
            },
            reply_addlis(item) {//添加图文列表
                let a = $frame.filter(vm.typelis, "Key", item.Key)[0].lis;//获取类型字段
                if (item.Temp.length == 5) {
                    $frame.alert_msg("列表已达到上限！");
                    return false;
                }
                let ob = {};
                $.each(a, (i, v) => {

                    ob[v.Name + '_Title'] = v.Title;
                    ob[v.Name] = v.Name;
                });
                item.Temp.push(ob);

            },
            reply_dellis(item, index) {//图文移除
                item.Temp.splice(index, 1);
            },
            reply_add_list() {//添加自动回复列表
                let model = {
                    Name: '',
                    Type: 1,//消息类型 1:自动回复  2：关注 3：取消关注
                    Key: '',//消息模板 1:文本消息类型  2：图文消息主体 3：图片消息  4：语音消息  5：音乐消息  6：视频消息
                    Name: '',//匹配的内容
                    Content: '',//发送具体内容
                    MatchingWay: 0,//匹配方式0：模糊匹配  1：全部匹配
                    Temp: [],//原始数据体
                    GuId: o.guid(),
                };
                vm.list.splice(0, 0, model);
                o.page(vm.list);
            },
            reply_addmodel() {
                if (vm.model.length > 0) {
                    $frame.alert_msg("列表已达到上限！");
                    return false;
                }

                let model = {
                    Type: 2,//消息类型 1:自动回复  2：关注 3：取消关注
                    Key: '',//消息模板 1:文本消息类型  2：图文消息主体 3：图片消息  4：语音消息  5：音乐消息  6：视频消息
                    Name: '',//匹配的内容
                    Content: '',//发送具体内容
                    MatchingWay: 0,//匹配方式0：模糊匹配  1：全部匹配
                    Temp: [],//原始数据体
                    GuId: o.guid(),
                };

                vm.model.push(model);
            },
            reply_del_lis(item) {//移除自动回复

                vm.list.splice($.inArray(item, vm.list), 1);
                o.page(vm.list);
            },
            reply_search() {//查询
                let datalist = vm.list;
                let seaname = $("#search_name").val();
                if (!$frame.IsEmpty(seaname)) {
                    datalist = $frame.filter(datalist, "Name", seaname, true);
                    o.page(datalist);
                } else
                    o.page(vm.list);
            },
            reply_delmodel(index) {
                vm.model.splice(index, 1);

            },
            //----------------END

            //==========按钮事件
            event_del_lis(item) {//移除数据
                vm.Eventlist.splice($.inArray(item, vm.Eventlist), 1);
            },
            event_add_list() {//添加数据

                let model = {
                    EventType: 1,
                    EventKey: '',//自定义事件key                 
                    GuId: o.guid(),
                };
                vm.Eventlist.splice(0, 0, model);

            },


            //=========END======


        },

    })

    let o = {
        page(data, pageindex) {
            pageindex = pageindex || 1;
            let sta = (pageindex * 5 - 5);
            let end = (pageindex * 5);
            vm.pagingdata = data.slice(sta, end);
            layui.use(['laypage', 'layer'], function () {
                var laypage = layui.laypage,
                    layer = layui.layer;
                laypage.render({
                    elem: 'page',
                    count: data.length,
                    limit: 5,
                    first: '首页',
                    last: '尾页',
                    layout: ['count', 'prev', 'page', 'next', 'skip'],
                    curr: pageindex,
                    theme: '#00A0E9',
                    jump: function (obj, first) {
                        if (!first) {
                            //第一次不执行,一定要记住,这个必须有,要不然就是死循环
                            let curr = obj.curr;
                            //回调该展示数据的方法,数据展示
                            o.page(data, curr);
                        }
                    }
                });
            });
        },
        guid() {
            return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {
                var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
                return v.toString(16);
            });
        }

    };
</script>